.outer {
  position: relative;
  width: 5rem;
  height: 2.5rem;
  overflow: hidden;
  margin: 1rem 0;

  &__1 {
    border: 1px solid black;
  }

  &__2 {
    border-bottom: 1px solid black;
  }

  &__3 {
    border: 1px solid black;
  }
}

.inner {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 3.5rem;
  height: 3.5rem;
  transform: translate(-50%, -50%) rotate(45deg);

  &__1 {
    border: 1px solid red;
  }

  &__2 {
    border: 1px solid black;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, red 50%, green 50%);
    background-position: 0% 0%;
    transition: background-position 0.5s;

    &:hover {
      background-position: -50% -50%;
    }
  }

  &__3 {
    border: 1px solid black;
    background-color: white;
  }

  &-pct {

    &__1 {
      border: 1px solid red;
    }
  }
}

.slider {
  height: 100%;
  width: 100%;
  background-size: 100% 200%;
  background-image: linear-gradient(to top, DarkOrchid 15%, Cyan 15%);
  background-repeat: no-repeat;
  background-position: 200% 200%;
  transition: background-position 0.5s;

  &:hover {
    background-position: 150% 150%;
  }
}
