body {
  margin: 0;
}

ul {
  margin: 0;
  list-style: none;
}

.container {
  display: flex;
  justify-content: center;
  width: calc(100% - #{$gutter});
  max-width: $max-content;
  margin: 0 auto;
}
