
<p>solid triangle</p>
<div class="wrapper">
  <div class="arrow-solid"></div>
</div>

<p>spinning solid</p>
<div class="arrow-spin fa fa-spin"></div>

<p>color-changing</p>
<div class="arrow-color-change"></div>

<p>change size on hover</p>
<div class="arrow-hover-size"></div>

<p>change border background on hover</p>
<div class="arrow-hover-background"></div>
<p>
  ...nevermind, working with border-image is cumbersome,
  and animating it even more so.
</p>

<h2>NEW TACTIC</h2>
<p>
  use nested divs and overflow:hidden to make triangles
  that can be styled like divs!
</p>

<div class="outer outer__1">
  <div class="inner inner__1"></div>
</div>

<p>now let's get that slide-in working</p>

<div class="outer outer__2">
  <div class="inner inner__2">
  </div>
</div>

<p>great! now get the background correct:</p>

<div class="outer outer__2">
  <div class="inner inner__3">
    <div class="slider"></div>
  </div>
</div>
